body {
    background-color: white;
}

#map { 
	
    display: block;
    margin-left: auto;
    margin-right: auto;

 }
.legend {
	display: block;
    margin-left: 250px;
 	width: 100px;
 	margin-top: -200px;
}