body {
    background-color: white;
}

h1 {
    color: black;
    margin-left: 100px;
    font: Verdana;
}

#map { 
	
    display: block;
    margin-left: auto;
    margin-right: auto }

 }

.Ames {
	width:10%;
	margin-left: 500px;
	margin-top: 10px;

 }